::placeholder{
  color: var(--lightCream);
}
.App{
  width: 100vw;
  min-height: 100vh;
  background: var(--lightCream);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 20px;
  color: var(--choclaty);
}
label{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: var(--lightVoilet);
}
.inputs{
  display: flex;
  gap: 15px;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.input{
  position: relative;
  display: flex;
  justify-content: center;
}
input{
  background: var(--voilet);
  color: var(--cream);
  padding: 15px 20px;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  position: relative;
  text-align: center;
}
.underline{
  position: absolute;
  width: 0px;
  border-bottom: 3px solid var(--cream);
  bottom: 10px;
}
input:focus +.underline{
  width: calc(100% - 30px);
  transition: all .5s ease-in-out;
}

button{
  padding: 12px 25px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--cream);
  background: var(--lightVoilet);
}
button:active{
  background: var(--voilet);
  transform: translateY(4px);
  transition: all .3s;
}

.tiles{
  display: flex;
  width: 500px;
  max-width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  background: var(--lightCream);
  border: 2px solid var(--choclaty);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.362);
}

.won{
  color: var(--green);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}