:root{
  --voilet: #752092;
  --lightVoilet: #C957BC;
  --cream: #FFC872;
  --lightCream: #FFE3B3;
  --choclaty: #603f0d;
  --green: rgb(21, 255, 21);
  --red: rgb(253, 49, 49);
}

*{
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}